.redClass{
    -fx-background-color:red;
}
.blueClass{
    -fx-background-color:blue;
}
.greenClass{
    -fx-background-color:green;
}
.greenProgress{
    -fx-accent: green;
}
.redProgress{
    -fx-accent: red;
}